<h1>Call Back Form</h1>

<%= form_for :call_back_request, url: call_back_request_path, remote: true do |f| %>
  <%= f.text_field :name, placeholder: "Your name" %>
  <%= f.phone_field :phone, placeholder: "Enter your phone number" %>
 
  <%= f.submit "Submit" %>               
<% end %>